@use "@carbon/styles";

.chat-wrapper {
  width: 100%;
  display: flex;
  max-height: calc(100% - 102px);
  flex-direction: column;
  padding-bottom: 100px;
}

.chat-input-wrapper {
  position: fixed;
  bottom: 1px;
  width: 100%;
  display: flex;
  align-items: end;
  z-index: 99;
}

.question-wrapper {
  display: flex;
  margin: 5px 0;
  justify-content: flex-end;
}

.question-tile {
  width: 400px;
}

.answer-wrapper {
  display: flex;
  margin: 5px 0;
}

.answer-tile {
  width: 56%;
  margin: auto;
}

.send-button {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0;
}
.send-button-invalid {
  height: 40px;
  display: flex;
  margin-bottom: 20px;
}
